---
layout: default
permalink: /categories/
title: Categories
---

<article id="main">
    <header class="special container">
        <span class="icon fa-globe"></span>
        <h2>History Ignored </h2>
        <h2><strong>Categories</strong></h2>
    </header>
    <section class="wrapper style4 container">
      <div id="archives">
      {% for category in site.categories %}
        <div class="wrapper container style1">
          {% capture category_name %}{{ category | first }}{% endcapture %}
          <div id="#{{ category_name | slugize }}"></div>
          <p></p>

          <h2 class="category-head">{{ category_name }}</h2>
          <a name="{{ category_name | slugize }}"></a>
          <ul style="list-style-type:circle" class="indented-list">
            {% for post in site.categories[category_name] %}
            <article class="archive-item">
              <li class='category-list'><h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3></li>
            </article>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </div>
    </section>
</article>
